.about-me {
    background-color: #F9F9F9;
    padding: 119px 0px 100px 0px;

    text-align: center;
}
.title__section {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-align: center;
}
.about-me__title {
    margin-bottom: 50px;
}
.about-me__text {
    display: inline-block;
}